#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.converter_container {
  padding-top: 40vh;
  height: 100vh;
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: auto 40vw;
}
